{% extends 'base.html.twig' %}

{% block title %}Hello ObjetController!{% endblock %}

{% block body %}

<div class="objet">
     {% for objet in allObjets %}
       <div class="card cart" style="width: 18rem;">
  <img src= "{{ asset('imgObjet/' ~ objet.image )}}" class="card-img-top" alt="...">
  <div class="card-body describe">
  <h3>{{objet.nomObjet}}</h3>
    <p class="card-text">
        {{objet.description}}
    </p>
    <button class="btn btn-primary" type="submit">
        {# <a href="/objet/{{objet.id}}">Voir +</a> #}
        <a href={{path('app_objetItem', {'id': objet.id })}}>Voir +</a>
    </button>
  </div>
</div>

    {% endfor %} 
</div>
{% endblock %}
