{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

        {% for objet in objets %}
            <div class="card" style="width: 18rem;">
                <img src={{ asset('imgObjet/' ~ objet.image) }} class="card-img-top" alt="...">
                <div class="card-body">
                <h1>{{ objet.nomObjet }}</h1>
                <p class="card-text">{{ objet.description }}</p>
                </div>
                <button class="btn"><a href={{ path('app_objet_show', {'id': objet.id}) }}>voir l'objet</a></button>
            </div>

        {% else %}
            <h1>aucun objet trouver</h1>
        {% endfor %}
       

    {% if is_granted('ROLE_USER')%}
            <a href="{{ path('app_objet_new') }}">Create new</a>
        {% endif %}
{% endblock %}
