{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt.id }}</td>
            </tr>
            <tr>
                <th>DateDeDebut</th>
                <td>{{ emprunt.dateDeDebut ? emprunt.dateDeDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateDeFin</th>
                <td>{{ emprunt.dateDeFin ? emprunt.dateDeFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_index') }}">back to list</a>

    <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}">edit</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
